*{
    margin: 0;
    font-family: "Oldenburg", serif;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    scroll-behavior: smooth;
}

#uparrow
{
    position: fixed;
    scale: 0.3;
    left: 87%;
    top: 75%;
    z-index: 99;
}

body{
    background-color: #3b6de1;
    overflow-x: hidden;
    max-width: 100%;
    transition: background-color 0.5s ease-in; 
}

#header{
    background-image: url("MU/fundo.png");
    background-size: contain;
    width: 100%;
    height: 75px;
    display: flex;
}

#buttons_header button{
    background-image: linear-gradient(to bottom,rgb(220, 208, 33) 80%, rgb(222, 172, 11));
    color: rgb(0, 0, 0);
    height: 60%;
    padding: 1%;
    outline: none;
    justify-content: space-between;
    margin-left: 2%;
    width: 17%;
    font-size: 11px;
    border: none;
    border-radius: 5%;
}

#btnProximos
{
    margin-bottom: 5%;
}

#btnProximos button{
    background-image: linear-gradient(to bottom,rgb(220, 208, 33) 80%, rgb(222, 172, 11));
    color: rgb(0, 0, 0);
    font-size: large;
    height: 80%;
    padding: 1%;
    outline: none;
    justify-content: space-between;
    width: 200px;
    font-size: 18px;
    border: none;
    border-radius: 5%;
    font-weight: bold;
}

#searchBar
{
    width: 75%;
    height: 50%;
    font-size: 32px;
    border: none;
    outline: none;
    background-color: rgba(43, 43, 43, 0.5);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    transition: opacity 0.2s ease-out; 
}

#header h1{
    margin-top: 1%;
    font-weight: bold;
    margin-right: 3%;  
    color: blue;
}

#buttons_header
{
    z-index: 50;
    margin-top: 1%;
    width: 80%;
    height: 75px;
}

.main
{
    opacity: 0;
    transition: opacity 0.2s ease-out; 
    height: 100%;
}

.boxGrid{
    width: 100%;
    height: 98vh;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    column-gap: 4%;
    row-gap: 10%;
    padding: 4%;
}

#boxGridAlunos{
    grid-template-rows: repeat(5, 40%);
    margin-bottom: 1050px;
}

#boxGridFuncionarios{
    grid-template-rows: repeat(2, 40%);
}

#boxGridPets{
    grid-template-rows: repeat(1, 40%);
    margin-bottom: -30%;
}

#boxGridOutros{
    grid-template-rows: repeat(2, 40%);
}

.characterbox{
    background-image: url("MU/fundo.png");
    background-size: cover;
    border-radius: 10%;
    text-align: center;
    align-content: center;
    transition: transform 0.3s ease; 
    transform-origin: center;
}

.characterbox:hover{
    transform: scale(1.1)
}

.characterbox img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.maintext{
    text-align: center;
    margin: 5%;
    font-size: 60px;
    color: white;
}

.namebox{
    z-index: 2;
    background-image: linear-gradient(to bottom,rgb(220, 208, 33) 80%, rgb(222, 172, 11));
    color: rgb(0, 0, 0);
    width: 45%;
    height: 10%;
    text-align: center;
    align-content: center;
    margin-left: 60%;
    margin-top: -5%;
    border-radius: 5%;
}

#personagem{
    display: none;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease-out; 
}

#imgPersonagem
{
    margin-left: -100%;
    transition: margin-left 0.3s ease;
    filter: drop-shadow(20px 0px 0 rgb(255, 255, 255));
    height: 100%;
}

#personagemNome{
    font-size: 48px;
    margin-right: 2%;
}

#descBox
{
    z-index: 2;
    padding: 2%;
    margin-top: 10%;
    margin-left: -15%;
    background-image: linear-gradient(to bottom, white 80%, rgb(193, 193, 193));
    border-radius: 5%;
    text-align: center;
    width: 45%;
    margin-bottom: 10%;
    height: 1300px;
}

#personagemDesc{
    margin-bottom: 5%;
}

.tituloDesc
{
    font-size: 24px;
}

#imgAss, #imgAss2, #emoji, #genero
{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

#tituloNome{
    height: 7%;
    width: 100%;
    display: flex;
    margin-top: 15%;
    margin-bottom: 5%;
    justify-content: center;
}

#logoDA{
    margin-left: 1%;
    transition: rotate 0.2s ease-in; 
}

#txtEspecial{
    color: white;
    margin-top: -15%;
    font-size: 24px;
    text-align: center;
    margin-left: -95%;
}


.relacionamentos
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

#btnFormas
{
    height: 5%;
    justify-content: center;
    margin-bottom: 5%;
    display: none;
    grid-template-columns:  repeat(4, 20%);
    column-gap: 5%;
}

.btnForma
{
    margin-left: 5%;
    margin-right: 5%;
    display: none;
    height: 60%;
    padding: 1%;
    outline: none;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    border: none;
    border-radius: 5%;
}

#btnformaNormal
{
    background-image: linear-gradient(to bottom, rgb(174, 174, 174) 80%, rgb(120, 120, 120));
}

#btnformaDemonio
{
    background-image: linear-gradient(to bottom, rgb(221, 15, 15) 80%, rgb(172, 11, 56));
}

#btnformaNatal
{
    background-image: linear-gradient(to bottom, rgb(8, 234, 189) 80%, rgb(7, 183, 227));
}

#btnformaShenanigans
{
    background-image: linear-gradient(to bottom, rgb(238, 235, 11) 80%, rgb(226, 142, 7));
}



@media (max-width: 600px)
{

    #header{
        background-image: url("MU/fundo.png");
        background-size: contain;
        width: 100%;
        height: 125px;
        display: grid;
        grid-template-areas: "logo logotxt searchbar"
        "buttons";
    }

    #searchBar
    {
        width: 50%;
        height: 10%;
        font-size: 28px;
        border: none;
        outline: none;
        background-color: rgba(43, 43, 43, 0.5);
        color: white;
        border-radius: 10px;
        margin-top: 20px;
        transition: opacity 0.2s ease-out; 
        grid-area: searchbar;
        margin-left: 45%;
    }

    .boxGrid{
        width: 100%;
        height: 98vh;
        display: grid;
        grid-template-columns: repeat(2, 40%);
        column-gap: 5%;
        row-gap: 5%;
        padding: 5%;
    }

    #boxGridAlunos{
        grid-template-rows: repeat(10, 20%);
        margin-bottom: 1100px;
    }

    #boxGridFuncionarios{
        grid-template-rows: repeat(4, 20%);
    }

    #boxGridPets{
        grid-template-rows: repeat(2, 20%);
        margin-bottom: -110%;
    }

    #boxGridOutros{
        grid-template-rows: repeat(3, 20%);
    }

    #imgPersonagem
    {
        margin-left: -200%;
        transition: margin-left 0.3s ease;
        filter: drop-shadow(20px 0px 0 rgb(255, 255, 255));
        height: 100%;
        top: 0;
    }

    #personagemNome{
        font-size: 32px;
        margin-right: 2%;
    }

    #descBox
    {
        z-index: 2;
        padding: 2%;
        margin-top: 20%;
        margin-left: -160%;
        background-image: linear-gradient(to bottom, white 80%, rgb(193, 193, 193));
        border-radius: 2%;
        text-align: center;
        width: 65%;
        height: 1700px;
    }

    #tituloNome{
        margin-top: 15%;
        height: 7%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #buttons_header
    {
        width: 100%;
        grid-area: buttons;
        margin-top: 20%;
    }

    #buttons_header button{
        background-image: linear-gradient(to bottom,rgb(220, 208, 33) 80%, rgb(222, 172, 11));
        color: rgb(0, 0, 0);
        height: 35%;
        padding: 1%;
        outline: none;
        justify-content: space-between;
        width: 16%;
        font-size: 6px;
        font-weight: bold;
        border: none;
        border-radius: 5%;
    }

    #header h1{
        margin-top: 4%;
        font-weight: bold;
        margin-right: 2%;  
        color: blue;
        margin-left: 20%;
        grid-area: logotxt;
    }

    .namebox{
        z-index: 2;
        background-image: linear-gradient(to bottom,rgb(220, 208, 33) 80%, rgb(222, 172, 11));
        color: rgb(0, 0, 0);
        width: 65%;
        height: 20%;
        text-align: center;
        align-content: center;
        margin-left: 30%;
        margin-top: -5%;
        border-radius: 5%;
        font-size: 12px;
    }

    #logoDA{
        grid-area: logo;
        max-width: 100%;
        max-height: 20%;
        height: auto;
        width: auto;
    }

    #txtEspecial{
        color: white;
        margin-top: -15%;
        font-size: 12px;
        text-align: center;
        margin-left: -45%;
    }

    #emoji, #genero
    {
        max-width: 50%;
        max-height: 50%;
        height: auto;
        width: auto;
    }

    #btnProximos
    {
        margin-bottom: 5%;
    }

    #btnProximos button{
        background-image: linear-gradient(to bottom,rgb(220, 208, 33) 80%, rgb(222, 172, 11));
        color: rgb(0, 0, 0);
        font-size: large;
        height: 80%;
        padding: 1%;
        outline: none;
        justify-content: space-between;
        width: 30%;
        font-size: 10px;
        border: none;
        border-radius: 5%;
    }

    #uparrow
    {
        position: fixed;
        scale: 0.3;
        left: 50%;
        top: 80%;
        z-index: 99;
    }

    #btnFormas
    {
        height: 5%;
        justify-content: center;
        display: none;
        grid-template-columns:  repeat(2, 25%);
        grid-template-rows:  repeat(2, 50%);
    }

    .btnForma
    {
        font-size: large;
        height: 65%;
        padding: 1%;
        outline: none;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        font-size: 7px;
        border: none;
        border-radius: 5%;

    }

    .maintext
    {
        font-size: 32px;
    }
}