:root
{
    --azul1: rgb(0, 102, 255);
    --azul2: rgb(0, 23, 86);
    --verde: rgb(64, 255, 0);
}

*
{
    font-family: "Google Sans Code", monospace;
}

body
{
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    color: rgb(11, 0, 43);
}

#main
{
    border-color: var(--verde);
    border-width: 20px;
    border-style: solid;
    width: 85%;
    height: 700px;
    margin: 5%;
}

#title
{
    font-size: 30px;
    margin: 2%;
}

.box
{
    
    border-color: var(--verde);
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    padding: 1%;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--azul1),var(--azul2));
    animation-name: boxAnim;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes boxAnim {
  0% {background-image: linear-gradient(to bottom, var(--azul1) 20%,var(--azul2));}
  25% {background-image: linear-gradient(to bottom, var(--azul1) 40%,var(--azul2));}
  50% {background-image: linear-gradient(to bottom, var(--azul1) 60%,var(--azul2));}
  75% {background-image: linear-gradient(to bottom, var(--azul1) 80%,var(--azul2));}
  100% {background-image: linear-gradient(to bottom, var(--azul1) 100%,var(--azul2));}
} 

form
{
    width: 80%;
    display: block;
    font-size: 24px;
    margin: 8%;
    margin-top: 30%;
}

input
{
    margin-top: 2%;
    width: 90%;
    height: 5%;
    font-size: 24px;
    background-color: black;
    color: rgb(202, 135, 87);
}

.btn
{
    color: white;
    font-weight: bold;
}


