*{
    margin: 0;
    font-family: "Schoolbell", cursive;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    scroll-behavior: smooth;
}

#wrapper
{
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

body{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    max-width: 100%; 
    position: relative;
}


#header{
    background-image: linear-gradient(to bottom, white 80%, rgb(193, 193, 193));
    width: 100%;
    height: 25%;
    position: fixed;
    z-index: 999;
    display: flex;
    top:0;
}

#logoDA{
    transition: rotate 0.2s ease-in; 
    height: 85%;
    margin: 0.5%;
}

#buttons_header img{
    font-size: large;
    padding: 1%;
    outline: none;
    justify-content: space-between;
    margin-left: 2%;
    width: 15%;
    transition: 0.2s;
}

.btnheader:hover, .btnPersonagem:hover
{
    scale: 1.1;
}

#buttons_header
{
    z-index: 50;
    margin-top: 3%;
    width: 80%;
    height: 75px;
}

.main
{
    opacity: 0;
    transition: opacity 0.2s ease-out; 
    height: auto;
    margin-top: 15%;
}

#mainAlunos
{
    margin-bottom: 25%;
}

#mainFuncionarios
{
    margin-top: 25%;
    margin-bottom: 5%;
}

#mainPets
{
    margin-top: 5%;
}

#mainOutros
{
    margin-top: -15%;
}

.boxGrid{
    width: 100%;
    height: 98vh;
    display: grid;
    grid-template-columns: repeat(5, 15%);
    column-gap: 4%;
    row-gap: 10%;
    padding: 4%;
}

#boxGridAlunos{
    grid-template-rows: repeat(5, 30%);
}

#boxGridFuncionarios{
    grid-template-rows: repeat(3, 30%);
}

#boxGridPets{
    grid-template-rows: repeat(2, 30%);
}

#boxGridOutros{
    grid-template-rows: repeat(2, 30%);
}

.characterbox{
    background-image: linear-gradient(to bottom, white 80%, rgb(193, 193, 193));
    border-radius: 10%;
    text-align: center;
    align-content: center;
    transition: transform 0.3s ease; 
    transform-origin: center;
}

.characterbox:hover{
    transform: scale(1.1)
    rotate(5deg)
}

.characterbox img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.maintext{
    text-align: center;
    font-size: 100px;
    color: white;
}

.namebox{
    z-index: 2;
    background-color: rgb(83, 33, 220);
    color: rgb(255, 255, 255);
    width: 45%;
    height: 10%;
    text-align: center;
    align-content: center;
    margin-left: 60%;
    margin-top: -5%;
    border-radius: 5%;
}

#personagem{
    display: none;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease-out; 
}

#mainPersonagem
{
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

#persoBox
{
    display:flex;
}

#imgPersonagem
{
    transition: margin-left 0.3s ease;
    filter: drop-shadow(10px 0px 0 rgb(255, 255, 255));
    margin-top: -10%;
    margin-left: -10%;
    width: 55%;
}

#descBox, #relacionamentoBox, #galeriaBox
{
    z-index: 2;
    margin-top: 1%;
    padding: 2%;
    background-image: linear-gradient(to bottom, white 80%, rgb(193, 193, 193));
    border-radius: 5%;
    text-align: center;
    width: 45%;
    height: 400px;
    margin-left: -42%;
    overflow: auto;
    transition: scale 0.1s ease-out;
}

#relacionamentoBox, #galeriaBox
{
    display: none;
}

#galeriaBox
{
    align-items: center;
}

#descPersonagem, .tituloDesc{
    font-size: 32px;
    margin-bottom: 2%;
}

.infoPersonagem
{
    margin-left: 2%;
    font-size: 24px;
}

#tituloPersonagem
{
    width: 100%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
}

#personagemNome, #btnSetas{
    font-size: 64px;
    color:white;
    margin-left: 1%;
    margin-right: 1%;
}

#btnSetas
{
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

 #personagemEmoji, #personagemGenero
 {
    height: 100px;
 }

 .infos
 {
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    display: flex;
 }

#tituloNome{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#rightSide
{
    margin-top: -5%;
    margin-right: -57%;
    display: grid;
    grid-template-rows: repeat(4, auto);
}

#personagemFoto
{
    width: 16%;
    rotate: 7deg;
    margin-left: 5%;
}

.btnPersonagem
{
    margin-top: -5%;
    width: 15%;
    transition: 0.2s;
    margin-left: 5%;
}

#txtEspecial{
    color: white;
    font-size: 24px;
    text-align: center;
    width: 100%;
}

#assPersonagem
{
    width: 100%;
}

@media (max-width: 600px)
{
    #header{
        background-image: linear-gradient(to bottom, white 80%, rgb(193, 193, 193));
        width: 100%;
        height: 10%;
        position: fixed;
        display: inline;
        z-index: 999;
        top:0;
    }

    #logoDA{
        height: 50%;
        margin-left: 0.5%;
        margin-top: 0.5%;
    }

    #buttons_header img{
        justify-content: space-between;
        margin-left: 1%;
        width: 20%;
        height: 35%;
        transition: 0.2s;
    }

    .btnheader:hover, .btnPersonagem:hover
    {
        scale: 1.1;
    }

    #buttons_header
    {
        z-index: 50;
        margin-top: -1%;
        width: 100%;
        height: 75px;
        display: flex;
    }

    .main
    {
        opacity: 0;
        transition: opacity 0.2s ease-out; 
        height: auto;
        margin-top: 30%;
    }

    #mainAlunos
    {
        margin-bottom: 195%;
    }

    #mainFuncionarios
    {
        margin-top: 25%;
        margin-bottom: 55%;
    }

    #mainPets
    {
        margin-top: 5%;
    }

    #mainOutros
    {
        margin-top: -85%;
        margin-bottom: 10%;
    }

    .boxGrid{
        width: 100%;
        height: 98vh;
        display: grid;
        grid-template-columns: repeat(2, 43%);
        column-gap: 5%;
        row-gap: 3%;
        padding: 4%;
    }

    #boxGridAlunos{
        grid-template-rows: repeat(9, 18%);
    }

    #boxGridFuncionarios{
        grid-template-rows: repeat(6, 18%);
    }

    #boxGridPets{
        grid-template-rows: repeat(3, 18%);
    }

    #boxGridOutros{
        grid-template-rows: repeat(5, 18%);
    }

    .characterbox{
        background-image: linear-gradient(to bottom, white 80%, rgb(193, 193, 193));
        border-radius: 10%;
        text-align: center;
        align-content: center;
        transition: transform 0.3s ease; 
        transform-origin: center;
    }

    .characterbox:hover{
        transform: scale(1.1)
        rotate(5deg)
    }

    .characterbox img{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }

    .maintext{
        text-align: center;
        font-size: 25px;
        color: white;
    }

    .namebox{
        z-index: 2;
        background-color: rgb(83, 33, 220);
        color: rgb(255, 255, 255);
        font-size: 12px;
        width: 45%;
        height: 10%;
        text-align: center;
        align-content: center;
        margin-left: 30%;
        margin-top: -5%;
        border-radius: 5%;
    }

    #personagem{
        display: none;
        width: 100%;
        height: 100%;
        transition: opacity 0.2s ease-out; 
    }

    #mainPersonagem
    {
        opacity: 0;
        transition: opacity 0.2s ease-out;
    }

    #persoBox
    {
        display:block;
        text-align: center;
    }

    #imgPersonagem
    {
        filter: drop-shadow(5px 0px 0 rgb(255, 255, 255));
        margin-top: -10%;
        width: 100%;
        margin-left: 2%;
    }

    #descBox, #relacionamentoBox, #galeriaBox
    {
        z-index: 2;
        margin-top: 1%;
        padding: 2%;
        background-image: linear-gradient(to bottom, white 80%, rgb(193, 193, 193));
        border-radius: 5%;
        text-align: center;
        width: 80%;
        height: 400px;
        margin-left: 10%;
        overflow: auto;
        transition: scale 0.1s ease-out;
    }

    #relacionamentoBox, #galeriaBox
    {
        display: none;
    }

    #galeriaBox
    {
        align-items: center;
    }

    #descPersonagem, .tituloDesc{
        font-size: 20px;
        margin-bottom: 2%;
    }

    .infoPersonagem
    {
        margin-left: 2%;
        font-size: 16px;
    }

    #tituloPersonagem
    {
        width: 100%;
        margin-top: 30%;
        display: flex;
        justify-content: center;
    }

    #personagemNome, #btnSetas{
        font-size: 28px;
        color:white;
        margin-left: 1%;
        margin-right: 1%;
    }

    #btnSetas
    {
        cursor: pointer;
    }

    #personagemEmoji, #personagemGenero
    {
        height: 50px;
    }

    .infos
    {
        margin-bottom: 2%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #tituloNome{
        height: 7%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #rightSide
    {
        margin-top: -5%;
        margin-right: -57%;
        display: grid;
        grid-template-areas: "foto btn1"
        "foto btn2"
        "foto btn3";
    }

    #personagemFoto
    {
        width: 75%;
        rotate: 7deg;
        margin-left: 5%;
        grid-area: foto;
        margin-top: 15%;
    }

    #btnInfo
    {
        margin-top: 25%;
        grid-area: btn1;
    }

    #btnRelacionamento
    {
        grid-area: btn2;
    }

    #btnGaleria
    {
        grid-area: btn3;
    }

    .btnPersonagem
    {
        width: 35%;
        transition: 0.2s;
        margin-left: -15%;
    }

    #txtEspecial{
        color: white;
        font-size: 12px;
        text-align: center;
        width: 100%;
        margin-bottom: 5%;
    }

    #assPersonagem
    {
        width: 100%;
    }
}